<template>
    <p>Hello world</p>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>

<style lang="sass" scoped>
    
</style>