@model CoreBoost.Application.ViewModels.Page.PageViewModel
@using CoreBoost.Data.Enums
@using Microsoft.AspNetCore.Http

@section Styles {
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css">
    <link rel="stylesheet" href="~/lib/noty/noty.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

@section Scripts {
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/js/admin/page/add.js"></script>
    <script>
        let pageAdd = new PageAdd()
    </script>
    <script src="~/lib/noty/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
}

<form method="post" action="/admin/page/add" class="admin__form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden">

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Title" class="admin-form-group__label"></label>
        <input asp-for="Title" type="text" class="admin-form-group__input" placeholder="Nhập tiêu đề (dưới 100 kí tự)">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Slug" class="admin-form-group__label"></label>
        <input asp-for="Slug" type="text" class="admin-form-group__input" placeholder="Slug sẽ tự động được tạo ra">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Excerpt" class="admin-form-group__label"></label>
        <input asp-for="Excerpt" type="text" class="admin-form-group__input" placeholder="Nhập mô tả ngắn (dưới 100 kí tự)">
    </div>

    <br>

    <div class="file">
        <label class="file-label">
            <input class="file-input" id="imageSelect" type="file">
            <span class="file-cta">
            <span class="file-icon">
                <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
                Chọn một ảnh...
            </span>
            </span>
        </label>
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="ImageUrl" class="admin-form-group__label"></label>
        <input asp-for="ImageUrl" type="text" class="admin-form-group__input" placeholder="URL ảnh sẽ có sau khi upload thành công">
    </div>

    <div class="field">
        <label asp-for="Content" class="admin-form-group__label"></label>
        <div class="control">
            <textarea asp-for="Content"></textarea>
        </div>
    </div>

    <div class="control">
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Disabled) Không Kích Hoạt
        </label>
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Active) Kích Hoạt
        </label>
    </div>

    <input class="admin__form__button admin__form__button--save" type="submit" value="Lưu" />
    <a href="@Url.Content("~/admin/page/browse")" class="admin__form__button admin__form__button--cancel">Hủy</a>
</form>