body
    background: #effd5f
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.logo
    width: 64px
    height: 64px
    margin: 0 auto 4rem auto

.login-wrapper
    max-width: 1200px

.login-left, .login-right
    padding: 4rem 6rem

.login-left
    background: rgb(133, 187, 217)
    border-radius: 10px 0 0 10px

.login-right
    background: #ffffff
    transition: all .3s ease-in-out
    border-radius: 0 10px 10px 0

    &:hover
        border-radius: 10px
        transform: scale(110%)
        filter: drop-shadow(0 0 0.75rem grey)
        transition: all .3s ease-in-out

    @media screen and ( max-width: 768px )
        height: 100%
        

.login__p
    color: #000000
    text-align: center
    font-size: 1.1rem

.login__h3
    color: #000000
    font-size: 1.6rem
    font-weight: 500
    text-align: center
    margin: .5rem 0

.login__h4
    color: #000000
    font-size: 1.35rem
    font-weight: 600
    text-align: center
    margin: 3rem 0

.login__validator
    display: block
    margin-bottom: 1rem
    font-size: .9rem

.login__label
    display: block
    color: #000000
    margin: 0 auto
    font-size: .9rem
    font-weight: 500
    letter-spacing: .5px

.login__input
    display: block
    width: 100%
    border: 0
    border-bottom: 1px solid grey
    padding: .5rem 0
    font-size: 1.2rem
    color: #000
    margin: 0 auto 1rem auto
    transition: all .3s ease-in-out

    &::placeholder
        color: #000000

    &:focus
        border-bottom: 1px solid rgb(63, 132, 164)
        transition: all .3s ease-in-out

.login__checkbox-text
    font-weight: 500
    color: #000000
    
.login__submit
    display: block
    border-radius: 25px
    padding: .8rem 3rem
    background: #000000
    color: #ffffff
    border: 0
    font-weight: 700
    font-size: 1.1rem
    margin: 1rem auto
    transition: all .3s ease-in-out

    &:hover
        filter: brightness(110%)
        transition: all .3s ease-in-out

.login__to-home
    display: block
    margin: 2rem auto 0 auto
    width: max-content
    color: grey
    border-bottom: 1px dotted grey

    &:hover
        color: rgb(63, 132, 164)