@import base/_admin-modifiers
@import utilities/_admin-variables
@import components/_admin-pagination
@import utilities/_admin-mixins

body
    font-family: Inter

#sidenav
    background: $background-dark-2
    color: $text-dark-2
    height: 100%
    width: 250px
    position: fixed
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    transition: 0.5s

    .menu-label
        color: $text-dark-1
        font-weight: 600
    
    a
        color: inherit
        user-select: none

        &:hover
            background: $background-dark-3

    .close-btn
        background: #000000
        color: #ffffff
        font-size: 1.3rem
        padding: 16px 14px
        
    aside
        padding: 48px 20px 20px 20px

#main
    transition: margin-left .5s
    margin-left: 250px
    background: $background-dark-3
    color: $text-dark-2
    min-height: 100vh

#article-table
    background: $background-dark-4
    color: white
    margin-top: 2rem
    
.main__content-wrapper
    padding: 1rem 48px

.login
    background: #C6FFDD  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    .wrapper
        background: $background-dark-3
        color: $text-dark-2
        border-radius: 15px
        padding: 3rem

.topbar
    position: relative
    background: $background-dark-2
    color: white
    display: flex
    justify-content: space-between
    align-items: center

    .icon
        &:hover
            background: $background-dark-3


.topbar__title
    margin-left: 10px
    font-weight: 600

.topbar__dropdown
    .dropdown-menu
        

        .dropdown-content
            background: $background-dark-2
            padding: 0

            .dropdown-item
                padding: 10px 0

                &:hover
                    background: $background-dark-3

.topbar__logout
    cursor: pointer
    border: 0
    background: transparent
    color: #ffffff
    width: 100%
    font-size: 1rem

.add-new-button
    margin-bottom: 1rem

.status-filter-list
    display: flex
    padding: 1rem
    margin-bottom: 1.5rem
    background: $background-dark-2

    li
        margin-right: 10px
        text-align: center

        a
            cursor: pointer
            
            &:hover
                text-decoration: underline

.page-size-select-wrapper
    margin-bottom: 1.5rem

    .select
        margin-right: 10px

.admin-button-custom
    background: $background-dark-2
    color: white
    border: 0

.admin-select-custom
    &::after
        border-color: white
        
    select
        background: $background-dark-2
        color: white
        border: 0

.admin__button
    display: inline-block
    cursor: pointer
    border: 0
    color: #363636
    font-size: .75rem
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 1px
    padding: 1em 1.2em
    margin: 1rem 0
    border-radius: 0.3em
    transition: all 200ms linear

    &:hover
        transform: scale(110%)
        transition: all 200ms linear

.admin__button--create-new
    display: flex
    justify-content: center
    align-items: center
    width: max-content
    @include darken10(#d7d2cc)

.admin__form
    max-width: 800px

.admin__form__radio
    &:hover
        color: $text-dark-2

.admin__form__button
    display: inline-block
    cursor: pointer
    border: 0
    color: #363636
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 1px
    padding: 1.3em 1.5em
    margin: 1rem .5rem
    border-radius: 0.3em
    transition: all 200ms linear

    &:hover
        transform: scale(110%)
        transition: all 200ms linear

.admin__form__button--save
    @include darken10(#e35d5b)

.admin__form__button--saveandcontinue
    @include darken10(#eea849)

.admin__form__button--cancel
    @include darken10(#d7d2cc)
    font-size: .7rem

.admin-form-group
    margin-bottom: 1rem

.admin-form-group--input
    padding-top: 15px

.admin-form-group__label
    display: block
    color: #bebebe
    margin-bottom: .5rem
    transition: .3s ease
    font-weight: 700

.admin-form-group__input
    width: 100%
    display: block
    border: 0
    border-radius: 16px
    background: #dfdfdf
    color: #000000
    font-weight: 500
    padding: 10px 20px
    transition: all .3s ease-in
    font-size: 1rem

    &::placeholder
        color: #000000
        font-size: 1rem
        font-weight: 400

    &:focus
        background: #ffffff
        transition: all .3s ease-in

.admin-form-group__checkbox

    &:hover
        color: rgba(255,255,255,0.7)

#status-all, #status-active, #status-inactive
    color: #ffffff

    &:hover
        color: darken(#ffffff, 10%)

#keyword
    border: 0
    background: $background-dark-2
    color: $text-dark-2

    &::placeholder
        color: $text-dark-1