.article__image
    height: 660px
    background-size: cover

    @media screen and ( max-width: 1023px )
        height: 175px

.article-detail-main
    background: linear-gradient(to right, #BE5869, #7f4954)
    background-repeat: repeat

.article-wrapper
    background: #fafafa
    border-radius: 5px
    padding: 35px 70px 70px 70px
    max-width: 1140px
    position: relative
    margin: -330px auto 0 auto

    @media screen and ( max-width: 1023px )
        margin: -30px 5px
        padding: 35px 10px 10px 10px


.article-detail-main__title
    color: $primary-color-1
    letter-spacing: .8px
    text-align: center
    text-transform: uppercase
    line-height: 1.25
    font-family: inherit
    font-size: 3rem
    font-weight: 700
    margin-bottom: 20px

    @media screen and ( max-width: 1023px )
        font-size: 2.5rem

.article-detail-main__excerpt
    font-weight: 300
    margin-bottom: 1rem

.article-detail-main__meta-wrapper
    width: 100%
    max-width: 753px
    margin: 1.5rem auto
    letter-spacing: .4px
    font-size: .75rem
    color: $primary-color-2
    border-bottom: 1px solid #b7bac9
    padding: 1rem 0 5px 0

    @media screen and ( max-width: 1023px )
        text-align: center
        border-top: 1px solid #b7bac9
        border-bottom: 0

.article-detail-main__content
    width: 100%
    max-width: 753px
    margin: 0 auto
    padding: 0
    font-family: 'Noto Serif', serif
    overflow-wrap: break-word

    h1, h2, h3, h4, h5, h6
        color: $primary-color-1
        position: relative
        letter-spacing: 1.7px
        text-transform: uppercase

    a


    blockquote
        border-left-color: $primary-color-3

    p
        // &::first-letter
        //    font-weight: bold
        //    font-size: 2rem

.article-detail-aside
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    .icon
        margin: 1rem 0

.article
    margin-bottom: 1rem

.article__title
    a
        color: #000000
        font-size: 1.875rem
        font-weight: 600

        &:hover
            color: orange

.article__excerpt
    font-size: .9375rem
    margin-bottom: .5rem

.article__view-btn
    display: block
    color: #000000
    text-transform: uppercase
    width: max-content
    padding: .1rem 0
    border-bottom: 1px solid grey
    font-size: .7rem

    &:hover
        color: orange