.general-footer
    background: #212121
    color: #ffffff
    padding: 5rem 0
    font-size: .875rem

.general-footer__icon
    background: #ffffff
    padding: 10px
    width: 48px
    height: 48px
    border-radius: 25px

    &:hover
        color: $primary-color-2

.general-footer__description
    text-align: justify

.general-footer__description__image
    float: left
    margin: 0 15px 0 0
    width: 60px
    height: 60px

.general-footer__nav--text
    margin-bottom: .3rem

.general-footer__nav--icon
    margin-bottom: 3rem

.general-footer__nav__link
    color: #ffffff

    &:hover
        color: darken(#ffffff, 10%)

.general-footer__nav__icon
    display: inline-block
    color: #000000
    margin: 0 5px

    &:hover
        color: lighten(#000000, 10%)

.general-footer__nav__dot
    color: grey

.general-footer__copyright
    font-size: .75rem
    color: grey

.to-top-btn
    display: none
    position: fixed
    bottom: 10px
    right: 10px
    padding: 10px
    cursor: pointer
    background: #2c2c2c
    color: #ffffff
    border-radius: 50px