.grid-50
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 4rem

    @media screen and ( max-width: 690px )
        grid-template-columns: 1fr
        grid-gap: 3rem

.fanpage-browse-grid
    display: grid
    grid-template-columns: repeat(3, minmax(0, 1fr)) 
    grid-gap: 1rem

    @media screen and ( max-width: 690px )
        grid-template-columns: 1fr

.fanpage-browse-grid__image
    margin: 1rem auto
    
.fanpage-browse-grid__item
    position: relative
    background: #ffffff
    border-radius: 8px
    padding: 1rem

.fanpage-browse-grid__item__image
    margin: 0 auto 2rem auto

.fanpage-browse-grid__item__name
    color: #000000
    padding: .8rem 1rem
    font-weight: 700
    font-size: 1.3rem
    transition: all .3s ease-in

    &:hover
        transition: all .3s ease-in

.fanpage-browse-grid__item__category, .fanpage-browse-grid__item__country, .fanpage-browse-grid__item__likescount
    display: flex
    align-items: center
    padding: .5rem 1rem

.fanpage-browse-grid__item__category, .fanpage-browse-grid__item__country
    a
        color: rgb(46,38,51)
        font-weight: 600
        transition: all .3s ease-in

        &:hover
            color: rgb(153,23,60)
            transition: all .3s ease-in

.tag
    &.is-transparent
        background: rgba(0, 0, 0, .2)
        color: inherit
        cursor: pointer

        &:hover
            background: transparent
            color: white

.fanpage-browse-grid__item__likescount

.fanpage-browse-grid__item__current-price
    font-size: 2rem
    font-weight: 700
    text-align: center

    &::after
        content: " VNĐ"
        font-size: 1rem
    
    &:hover

.fanpage-browse-grid__item__original-price
    font-size: 1rem
    text-align: center
    margin-bottom: 1rem

.fanpage-browse-grid__item__buy
    position: absolute
    bottom: 0
    left: 0
    border: 0
    border-radius: 0 0 8px 8px
    font-weight: 600
    background: rgb(153,23,60)
    color: #ffffff
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: .5rem 0

    &:hover
        background: lighten(rgb(153,23,60), 10%)
        color: #ffffff
        transition: background .8s ease

.recommended-articles-section__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)

    a
        color: #000000

        &:hover
            color: orange