/* The dropdown container */
.nav-desktop
    position: absolute
    z-index: 99
    width: 100%
    background: transparent
    height: 90px

.nav-desktop--transparent
    &:hover
        background: #ffffff
        transition: all .1s ease-in

        .nav-desktop__menu__item__content, .nav-desktop__dropdown__button, .nav-desktop__button--transparent
            color: #3a3a3a
            transition: all .3s ease-in

.nav-desktop--solid
    background: #ffffff
        
.nav-desktop__button
    font-size: 1rem
    padding: 8px 16px
    transition: all .3s ease-in

    &:hover
        transition: all .3s ease-in

.nav-desktop__button--transparent
    color: rgba(255, 255, 255, .6)

    &:hover
        color: #ffffff

.nav-desktop__button--solid
    color: #000000

    &:hover
        color: lighten(#000000, 50%)

.nav-desktop__dropdown__content__list
    li
        margin-bottom: 10px
        
        a
            color: #000
            font-size: .9rem

            &:hover
                color: #000
                text-decoration: underline
            
.nav-desktop__menu__list
    display: flex
    height: 90px
    margin-left: 1rem

.nav-desktop__menu__item
    display: block
    height: inherit
    border: 0
    font-size: 16px

    a
        color: rgba(255, 255, 255, .6)

.nav-desktop__menu__item--solid
    a
        color: #000000

// Both normal menu item and drop down menu item
.nav-desktop__menu__item__content, .nav-desktop__dropdown__button
    display: flex
    align-items: center
    justify-content: center
    height: inherit
    border: 0
    padding: 0px 16px
    line-height: 90px
    text-transform: uppercase
    font-size: .8rem
    font-weight: 600

    &:hover
        background: $primary-color-2
        color: #ffffff !important
        transition: all .3s ease-in-out

.nav-desktop__dropdown

.nav-desktop__dropdown__content
    display: none
    position: absolute
    border-top: 1px solid #ededf0
    background-color: #f9f9f9
    width: 100%
    padding: 3em 0
    left: 0
    box-shadow: 0 16px 16px -16px rgba(0,0,0,.3)
    z-index: 1
    //transition: display .1s ease-in

.nav-desktop__dropdown:hover .nav-desktop__dropdown__content
    display: block

.nav-desktop__section
    position: relative
    display: block
    padding: 10px
    margin-bottom: 24px

    &:hover
        transition: box-shadow .1s ease-in-out
        box-shadow: 0 0 0 4px #ededf0

.nav-desktop__section__header_1
    display: inline
    color: #000
    font-weight: bold
    font-size: .9rem
    margin-left: 10px
    text-transform: uppercase

    &:hover
        transition: border-bottom-color .1s ease-in-out
        border-bottom: 2px solid #000

.nav-desktop__section__header_2
    display: inline
    color: #000
    font-weight: bold
    font-size: .9rem

    &:hover
        transition: border-bottom-color .1s ease-in-out
        border-bottom: 2px solid #000

.nav-desktop__section__description_1
    color: #000
    margin: 8px 0 0 32px
    font-size: .875rem
    font-weight: 400

.nav-desktop__section__description_2
    color: #000
    margin: 8px 0 0 0
    font-size: .875rem
    font-weight: 400

.nav-desktop__section__image_1
    position: absolute
    top: 8px
    left: 8px
    width: 24px
    height: 24px

.nav-desktop__section__image_2
    margin-bottom: 16px

.nav-desktop__section__list
    display: flex
    flex-wrap: wrap
    margin: 24px 0 0 36px

.nav-desktop__section__list__item
    width: 50%
    margin-bottom: 8px

    a
        color: #000000
        font-size: .875rem
        font-weight: 600

        &:hover
            text-decoration: underline

// Nav mobile
.mobile-topbar
    position: fixed
    top: 0
    z-index: 99
    width: 100%
    background: #ffffff

.mobile-topbar__wrapper
    display: flex
    justify-content: space-between

.mobile-topbar__button
    color: #000000
    cursor: pointer
    width: 48px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    
    &:hover
        color: #ffffff

.nav-mobile
    position: relative
    height: 100vh
    width: 300px
    transform: translateX(-300px)
    position: fixed
    z-index: 99
    top: 0
    left: 0
    background: #f5f5f5
    transition: .3s

    .menu
        padding: 4rem 1.2rem 1rem 1rem
        overflow: auto
        height: 90vh

        .menu-label
            color: #000000
            font-weight: 800
            cursor: pointer

            &:hover
                color: lighten(#000000, 20%)

        .menu-list
            display: none

            a
                color: #000000
                font-size: .875rem

                &:hover
                    background: rgba(0, 0, 0, .2)
                    color: lighten(#000000, 20%)
.nav-mobile__logo
    position: fixed
    left: 50%
    transform: translate(-50%, 0)

    img
        width: 48px
        height: 48px

.nav-mobile__close
    position: absolute
    top: 0
    right: 0
    width: 48px
    height: 48px
    cursor: pointer
    color: #000000
        
.nav-mobile__bottom
    position: absolute
    bottom: 0
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    a
        color: #000000

        &:hover
            color: darken(#ffffff, 10%)

        .icon
            padding: 2rem
            font-size: 1.2rem

// Nav mobile buttons
.open-nav-mobile-btn
    position: fixed
    padding: 10px
    display: block
    z-index: 10
    color: #ffffff
    width: 48px
    height: 48px
    cursor: pointer