.page-wrapper
    padding: 90px 0
    margin: 0 auto

.content--page
    h1, h2, h3, h4, h5, h6
        font-weight: 700

    p
        color: #000000

.page-detail-main__title
    color: $primary-color-1
    letter-spacing: .8px
    text-align: center
    text-transform: uppercase
    line-height: 1.25
    font-family: inherit
    font-size: 3rem
    font-weight: 700
    margin-bottom: 20px

    @media screen and ( max-width: 1023px )
        font-size: 2.5rem

.page-detail-main__excerpt
    font-weight: 300
    margin-bottom: 1rem

.page-detail-main__meta-wrapper
    width: 100%
    max-width: 753px
    margin: 1.5rem auto
    letter-spacing: .4px
    font-size: .75rem
    color: $primary-color-2
    border-bottom: 1px solid #b7bac9
    padding: 1rem 0 5px 0

    @media screen and ( max-width: 1023px )
        text-align: center
        border-top: 1px solid #b7bac9
        border-bottom: 0

.page-detail-main__content
    width: 100%
    max-width: 753px
    margin: 0 auto
    padding: 0
    font-family: 'Noto Serif', serif
    overflow-wrap: break-word

    h1, h2, h3, h4, h5, h6
        color: $primary-color-1
        position: relative
        letter-spacing: 1.7px
        text-transform: uppercase

    a


    blockquote
        border-left-color: $primary-color-3

    p
        // &::first-letter
        //    font-weight: bold
        //    font-size: 2rem
