<header>
    <nav>
        <ul>
            <li>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </li>
        </ul>
    </nav>
</header>