<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreBoost</title>
    <!-- SEO -->
    <meta name="description" content='@ViewData["Description"]'>
    <meta name="keywords" content='@ViewData["Keywords"]'>
    <meta name="robots" content="noindex,nofollow">
    <!-- OG -->
    <meta property="og:type" content="website">
    <meta property="og:title" content='@ViewData["Title"] - CoreBoost'>
    <meta property="og:description" content='@ViewData["Description"]'>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="http://CoreBoost.com/">
    <meta property="og:image" content="http://CoreBoost.com/icon/logo-v3.svg">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/fonts/SanFrancisco/san_francisco.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap&subset=vietnamese" rel="stylesheet"> 
    <link rel="stylesheet" href="~/css/article.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <partial name="_Header.cshtml" />

    <main class="article-detail-main">
        @RenderBody()
    </main>

    <partial name="_Footer.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>