<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreBoost</title>
    <!-- SEO -->
    <meta name="description" content='@ViewData["Description"]'>
    <meta name="keywords" content='@ViewData["Keywords"]'>
    <meta name="robots" content="noindex,nofollow">
    <!-- OG -->
    <meta property="og:type" content="website">
    <meta property="og:title" content='@ViewData["Title"] - CoreBoost'>
    <meta property="og:description" content='@ViewData["Description"]'>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="http://CoreBoost.com/">
    <meta property="og:image" content="http://CoreBoost.com/icon/logo-v3.svg">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/fonts/SanFrancisco/san_francisco.css">
    <link rel="stylesheet" href="~/css/page.min.css" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
</head>

<body>
    <partial name="_HeaderSolid.cshtml" />

    <main class="page-detail-main">
        @RenderBody()
    </main>

    <partial name="_Footer.cshtml" />

    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/js/public/general.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>