@using Microsoft.AspNetCore.Identity
@using CoreBoost.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="sidenav">
    <aside class="menu">
            <ul class="menu-list">
                    <li>
                        <a>@User.GetSpecificClaim("FullName")</a>
                    </li>
                </ul>
        <p class="menu-label">
            Chung
        </p>
        <ul class="menu-list">
            <li><a href="@Url.Content("~/admin/dashbroad")">Bảng Điều Khiển</a></li>
        </ul>
        
        <p class="menu-label">
            Nội Dung
        </p>
        <ul class="menu-list">
            <li>
                <a onclick="toggleActive(this)">Bài Viết</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/article/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/article/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Trang Tĩnh</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/page/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/page/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Danh Mục</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/articlecategory/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/articlecategory/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Nhãn</a>
                <ul style="display: none;">
                    <li><a>Danh Sách</a></li>
                    <li><a>Thêm Mới</a></li>
                </ul>
            </li>
        </ul>

        <p class="menu-label">
            Kinh Doanh
        </p>
        <ul class="menu-list">
            <li>
                <a onclick="toggleActive(this)">Fanpage</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/fanpage/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/fanpage/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Danh Mục Fanpage</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/fanpagecategory/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/fanpagecategory/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Quốc Gia</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/country/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/country/add")">Thêm Mới</a></li>
                </ul>
            </li>
        </ul>

        <p class="menu-label">
            Thông Tin
        </p>
        <ul class="menu-list">
            <li>
                <a onclick="toggleActive(this)">Khách Hàng</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/client/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/client/add")">Thêm Mới</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Yêu Cầu</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/browse")">Danh Sách</a></li>
                </ul>
            </li>
            <li>
                <a onclick="toggleActive(this)">Phản Hồi</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/feedback/browse")">Danh Sách</a></li>
                </ul>
            </li>
        </ul>

        <p class="menu-label">
            Hệ Thống
        </p>
        <ul class="menu-list">
            
            <li>
                <a onclick="toggleActive(this)">Người Dùng</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/user/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/user/add")">Thêm Mới</a></li>
                </ul>
            </li>

            <li>
                <a onclick="toggleActive(this)">Phân Quyền</a>
                <ul style="display: none;">
                    <li><a href="@Url.Content("~/admin/role/browse")">Danh Sách</a></li>
                    <li><a href="@Url.Content("~/admin/role/add")">Thêm Mới</a></li>
                </ul>
            </li>

            <li><a href="@Url.Content("~/admin/setting/browse")">Cài Đặt</a></li>
            <li><a href="@Url.Content("~/")">Về trang chủ</a></li>
        </ul>
    </aside>
</div>