﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <!-- SEO -->
    <meta name="description" content='@ViewData["Description"]'>
    <meta name="keywords" content='@ViewData["Keywords"]'>
    <meta name="robots" content="noindex,nofollow">
    <!-- OG -->
    <meta property="og:type" content="website">
    <meta property="og:title" content='@ViewData["Title"]'>
    <meta property="og:description" content='@ViewData["Description"]'>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="http://CoreBoost.com/">
    <meta property="og:image" content="http://CoreBoost.com/icon/logo-v3.svg">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/fonts/Inter/inter.css">
    <link rel="stylesheet" href="~/css/admin.min.css">
    @RenderSection("Styles", false)
</head>

<body>
    <partial name="_Aside.cshtml" />

    <main id="main">
        @await Html.PartialAsync("_TopBar.cshtml", @ViewData["Title"])
        
        <div class="main__content-wrapper">
            @RenderBody()
        </div>
    </main>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/admin/admin.js" asp-append-version="true"></script>
    <script src="~/js/admin/ve.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>