<div class="topbar">
    <div class="topbar__left">
        <span class="icon is-large is-cursor-pointer" id="topbar-btn" onclick="toggleNav()">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="topbar__title">@Model</span>
    </div>

    <div class="topbar-right">
        <div class="dropdown is-right topbar__dropdown" onclick="toggleTopbarDropdown(this)">
            <div class="dropdown-trigger">
                <span class="icon is-large is-cursor-pointer">
                    <i class="fas fa-ellipsis-v"></i>
                </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <form method="post" action="/admin/account/logout">
                            <button class="topbar__logout" type="submit">Đăng Xuất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    @* <div id="expand-menu-btn">
        <span class="icon is-large is-cursor-pointer">
            <i class="fas fa-ellipsis-v"></i>
            <div class="topbar__expand-menu">
                <div class="topbar__expand-menu__item">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <form method="post" action="/admin/account/logout" style="display: inline;">
                        <button type="submit">Đăng Xuất</button>
                    </form>
                </div>
            </div>
        </span>
    </div> *@
</div>