﻿<div id="add-edit-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="add-edit-modal-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="nhom-quyen-form">
                    <div class="form-group">
                        <input id="hidden-id" type="hidden" value="0">
                    </div>

                    <div class="form-group">
                        <label>Tên Nhóm Quyền Hạn</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Nhập tên nhóm">
                    </div>

                    <div class="form-group">
                        <label>Mô Tả</label>
                        <input type="text" class="form-control" id="txtDescription" placeholder="Nhập mô tả">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-save" type="button" class="btn btn-primary">Lưu</button>
                <button id="btn-continue" type="button" class="btn btn-success">Lưu & Tiếp Tục</button>
                <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>