﻿@*<div id="modal-grantpermission" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Assign permission</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input type="hidden" id="hidRoleId" />
                        <table class="table table-hover tree" id="tblFunction">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>Function name</th>
                                    <th>
                                        <label>
                                            <input type="checkbox" id="ckCheckAllView" value="{{Id}}">
                                            <span class="text">View</span>
                                        </label>
                                    </th>
                                    <th>
                                        <label>
                                            <input type="checkbox" id="ckCheckAllCreate" value="{{Id}}">
                                            <span class="text">Create</span>
                                        </label>
                                    </th>
                                    <th>
                                        <label>
                                            <input type="checkbox" id="ckCheckAllEdit" value="{{Id}}">
                                            <span class="text">Update</span>
                                        </label>
                                    </th>
                                    <th>
                                        <label>
                                            <input type="checkbox" id="ckCheckAllDelete" value="{{Id}}">
                                            <span class="text">Delete</span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="lst-data-function"></tbody>
                        </table>
                        <script id="result-data-function" type="x-tmpl-mustache">
                            <tr class="treegrid-{{Id}} {{treegridparent}}" data-id="{{Id}}">
                                <td>{{Name}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" value="{{Id}}" class="ckView">
                                        <span class="text">Allow</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" value="{{Id}}" class="ckAdd">
                                        <span class="text">Allow</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" value="{{Id}}" class="ckEdit">
                                        <span class="text">Allow</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" value="{{Id}}" class="ckDelete">
                                        <span class="text">Allow</span>
                                    </label>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnSavePermission" class="btn btn-success">Save</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- -->
<div id="grant-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="add-edit-modal-title" class="modal-title">Phân Quyền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="dropdown">
                    <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chọn Nhóm Chức Năng
                    </button>
                    <br />
                    <br />
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#nhomTuyenDung" aria-expanded="false" aria-controls="nhomTuyenDung">Tuyển Dụng</a>
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#nhomNhanSu" aria-expanded="false" aria-controls="nhomNhanSu">Nhân Sự</a>
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#nhomCongViec" aria-expanded="false" aria-controls="nhomCongViec">Công Việc</a>
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#nhomHeThong" aria-expanded="false" aria-controls="nhomHeThong">Hệ Thống</a>
                    </div>
                </div>

                <div class="collapse" id="nhomTuyenDung">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Chức Năng</th>
                                <th scope="col">Cho Phép</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="collapse" id="nhomNhanSu">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Chức Năng</th>
                                <th scope="col">Cho Phép</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="collapse" id="nhomCongViec">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Chức Năng</th>
                                <th scope="col">Cho Phép</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="collapse" id="nhomHeThong">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Chức Năng</th>
                                <th scope="col">Cho Phép</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input-part position-static" type="checkbox" value="{{Id}}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btn-save-role" type="button" class="btn btn-primary">Lưu</button>
                <button id="btn-cancel-role" type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>