@using CoreBoost.Application.ViewModels.System
@model CoreBoost.Utilities.Dtos.PagedResult<AppRoleViewModel>

@{
ViewData["Title"] = "Quyền Hạn";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/noty/noty.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

@section Scripts {
    <script src="~/lib/noty/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
    <script src="~/js/admin/role/browse.js"></script>
    <script>
        let roleBrowse = new RoleBrowse()
    </script>

    <script>
        var tablePagination = $('#table-pagination')
        tablePagination.pagination({
            dataSource: "/admin/role/getall".toString(),
            locator: "",
            totalNumber: @Model.RowCount,
            pageNumber: @Model.CurrentPage,
            pageSize: @Model.PageSize,
            className: "paginationjs-custom",
            afterPreviousOnClick: (e, p) => {
                roleBrowse.goToPage(p)
            },
            afterNextOnClick: (e, p) => {
                roleBrowse.goToPage(p)
            },
            afterPageOnClick: (e, p) => {
                roleBrowse.goToPage(p)
            }
        })
    </script>
}

<div>
    <a class="admin__button admin__button--create-new" href="@Url.Content("~/admin/role/add")">
        <span class="icon"><i class="fas fa-plus"></i></span><span>Quyền Hạn</span>
    </a>
</div>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            
        </div>
    </div>

    <div class="level-right">
        <div class="level-item">
            <div class="field has-addons is-pulled-right">
                <div class="control is-expanded">
                    <input id="keyword" class="input is-fullwidth" type="text" placeholder="Tên quyền hạn">
                </div>
                <div class="control">
                    <a id="searchButton" class="button is-info">Tìm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-size-select-wrapper">
    <div class="field is-grouped">
        <p class="control">
            <div class="select is-rounded">
                <select id="pageSizeSelect">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </p>

        <p class="control">
            <span>bản ghi mỗi trang</span>
        </p>
    </div>
</div>

@if (@Model.Results.Count > 0) {
    <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
                <th>Tên</th>
                <th>Mô Tả</th>
                <th>Công Cụ</th>
            </thead>
            <tbody id="table-content">
                @foreach (var role in @Model.Results) {
                    <tr>
                        <td>@role.Name</td>
                        <td>@role.Description</td>
                        <td>
                            <div class="field is-grouped">
                                <p class="control">
                                    <a href="@(Url.Content("~/admin/role/edit/") + role.Id)"
                                        class="button is-warning is-small" data-id="@role.Id"><i
                                            class="fas fa-pen"></i></a>
                                </p>
                                <p class="control">
                                    <a class="button delete-button is-danger is-small" data-id="@role.Id"><i
                                            class="fas fa-trash"></i></a>
                                </p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else {
    <div class="notification is-danger">
    Không có dữ liệu nào khớp với yêu cầu tìm kiếm, vui lòng <a href="@Url.Content("~/admin/role/browse")">thử lại</a>.
    </div>
}

<div id="table-pagination"></div>