@model CoreBoost.Application.ViewModels.System.AppRoleViewModel

<form method="post" action="/admin/role/edit" class="admin__form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden">

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Name" class="admin-form-group__label"></label>
        <input asp-for="Name" type="text" class="admin-form-group__input" placeholder="Nhập tên quyền hạn">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Description" class="admin-form-group__label"></label>
        <input asp-for="Description" type="text" class="admin-form-group__input" placeholder="Nhập mô tả">
    </div>

    <input class="admin__form__button admin__form__button--save" type="submit" value="Lưu" />
    <a href="@Url.Content("~/admin/role/browse")" class="admin__form__button admin__form__button--cancel">Hủy</a>
</form>