@model CoreBoost.Application.ViewModels.System.AppUserViewModel
@using CoreBoost.Data.Enums

<form method="post" action="/admin/user/edit" class="admin__form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden">

    <div class="control has-icons-left">
        <div class="select">
            <select asp-for="Role" asp-items="@ViewBag.Roles">
                <option>Quyền Hạn</option>
            </select>
        </div>
        <span class="icon is-left">
            <i class="fas fa-users"></i>
        </span>
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="UserName" class="admin-form-group__label"></label>
        <input asp-for="UserName" type="text" class="admin-form-group__input" placeholder="Nhập username">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Avatar" class="admin-form-group__label"></label>
        <input asp-for="Avatar" type="text" class="admin-form-group__input">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Email" class="admin-form-group__label"></label>
        <input asp-for="Email" type="text" class="admin-form-group__input" placeholder="Nhập email">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="FullName" class="admin-form-group__label"></label>
        <input asp-for="FullName" type="text" class="admin-form-group__input" placeholder="Nhập họ tên">
    </div>

    <div class="control has-icons-left">
        <div class="select">
            <select asp-for="Gender" asp-items="@ViewBag.Genders">
                <option>Giới Tính</option>
            </select>
        </div>
        <span class="icon is-left">
            <i class="fas fa-venus-mars"></i>
        </span>
    </div>

    <br>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Password" class="admin-form-group__label"></label>
        <input asp-for="Password" type="password" class="admin-form-group__input" placeholder="Nhập mật khẩu">
    </div>

    <div class="control">
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Disabled) Bị khoá
        </label>
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Active) Đang hoạt động
        </label>
    </div>
    <br>

    <input class="admin__form__button admin__form__button--save" type="submit" value="Lưu" />
    <a href="@Url.Content("~/admin/user/browse")" class="admin__form__button admin__form__button--cancel">Hủy</a>
</form>