.paginationjs-custom
    .paginationjs-pages
        display: flex
        justify-content: center

        ul
            display: flex

            li

                a
                    color: #ffffff
                    display: inline-flex
                    justify-content: center
                    padding: 8px 15px
                    margin: 0 .2rem
                    border: 1px solid transparent
                    border-radius: 25px
                    background: $background-dark-2

                    &:hover
                        border: 1px solid white
                
                &.active
                    a
                        background: $background-accent-2