.general-container
    width: 100%
    height: 100%
    max-width: 1420px
    padding: 0 96px
    margin: 0 auto

    @media screen and ( max-width: 1023px )
        padding: 0 10px

.general-main
    @media screen and ( max-width: 1023px )
        //padding-top: 60px

.service__bottom-text
    font-size: .75rem

// Section
.section__h2
    color: #000
    font-size: 2.8125rem
    font-weight: 800
    margin-bottom: 2rem

.section__h3
    font-size: 1.9rem
    font-weight: 800
    margin-bottom: 1.5rem

.section__h4
    font-size: 1.375rem
    font-weight: 800
    margin-bottom: 1rem

.section__h5
    font-size: 1rem
    font-weight: 800
    margin-bottom: .8rem