.paginationjs-custom
    .paginationjs-pages
        display: flex
        justify-content: center

        ul
            display: flex

            li

                a
                    color: #ffffff
                    display: inline-flex
                    justify-content: center
                    padding: 8px 15px
                    margin: 0 .2rem
                    border-radius: 8px
                    background: rgb(46,38,51)
                    font-weight: 700

                    &:hover
                        filter: brightness(110%)
                        transition: all .3s ease-in
                
                &.active
                    a
                        background: rgb(153,23,60)