.landing-section
    background-image: url('../img/static/fanpage-overview.jpg')
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    height: 100vh

    @media screen and ( max-width: 768px )
        height: 600px

.landing-section__overlay
    background: rgba(0, 0, 0, 0.45)
    width: 100%
    height: 100%

.landing-section__overlay__wrapper
    max-width: 1400px
    padding-left: 4rem
    margin: 0 auto
    height: 100%
    display: flex
    flex-flow: column
    justify-content: flex-end
    align-items: flex-start
    padding-bottom: 9rem

    @media screen and ( max-width: 768px )
        padding-left: 1rem

.landing-section__title
    font-size: 3.875rem
    font-weight: 800
    color: #ffffff
    line-height: 1.3

    @media screen and ( max-width: 768px )
        font-size: 2rem

.landing-section__subtitle
    font-size: 2rem
    font-weight: 300
    color: #ffffff
    line-height: 1.5

    @media screen and ( max-width: 768px )
        font-size: 1.5rem

.landing-section__button
    border: 0
    margin-top: 25px
    padding: .5rem 1rem
    font-weight: 600
    font-size: .8125rem
    background: $primary-color-1
    color: #ffffff
    text-transform: uppercase
    cursor: pointer
    transition: all .3s ease-in

    &:hover
        background: rgb(251, 251, 251)
        color: #000
        transition: all .3s ease-in

.page-content

.page-content__article

.page-content__article__nav

.page-content__article__content

.service-menu

.service-menu__item
    margin-bottom: 1rem

    a
        color: #000000
        font-size: .875rem
        transition: all .3s ease-in

        &:hover
            color: $primary-color-1
            padding-bottom: 2px
            border-bottom: 1px dotted $primary-color-1
            transition: all .3s ease-in

    &.is-current
        a
            font-weight: 800
            color: $primary-color-1

.home-section
    margin-top: 2rem
    margin-bottom: 2rem
    padding-top: 5rem

.home-landing-section
    background: url('/img/static/home-overview.jpg')
    background-repeat: no-repeat
    background-size: cover
    height: 100vh

    .gradient-overlay
        position: absolute
        height: 100vh
        width: 100%
        background: rgba(0, 0, 0, .6)

    .wrap
        max-width: 1420px
        margin: 0 auto
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-start
        padding-bottom: 9rem
        color: #ffffff

        @media screen and ( max-width: 1023px )
            padding-bottom: 2rem

        @media screen and ( max-width: 320px )
            //margin-top: 2.5rem

        .title
            color: inherit
            font-size: 3.2rem
            font-weight: 600
            padding-bottom: 16px
            line-height: 1.5
            max-width: 800px

            @media screen and ( max-width: 1023px )
                font-size: 2.5rem

            @media screen and ( max-width: 320px )
                font-size: 2rem

        .subtitle
            color: inherit
            font-size: 1.5rem
            font-weight: 400
            line-height: 1.5

            @media screen and ( max-width: 1023px )
                font-size: 1.3rem

            @media screen and ( max-width: 320px )
                font-size: 1rem

        p
            @media screen and ( max-width: 320px )
                font-size: .8rem

.home-landing-section__btn
    margin-top: 16px
    background: $primary-color-1
    color: #ffffff
    font-size: .8125rem
    font-weight: 600
    text-transform: uppercase
    padding: .5rem 1rem
    transition: all .3s ease-in

    &:hover
        color: #ffffff
        filter: brightness(110%)
        transition: all .3s ease-in

.home-landing-section__img
    width: 100%
    z-index: -100
    height: 100vh
    object-fit: cover

.description-section
    position: relative
    top: -150px

    @media screen and ( max-width: 768px )
        transform: translateY(-30px)
        top: 0

.description-section__graphic
    display: block
    margin-top: -4px
    position: relative
    z-index: 80

    polygon
        fill: #2c2c2c

.description-section__triangle
    fill: #EC5665
    transform: translateY(-74%)
    z-index: -80

.description-section__middle
    background: #2c2c2c

.description-section__middle__wrap
    max-width: 1420px
    margin: 0 auto
    padding: 4rem 96px 0 96px

    p
        margin: 0 auto
        font-size: 1.4375rem
        max-width: 900px

        @media screen and ( max-width: 768px )
            font-size: 1rem

        strong
            color: #ffffff
    
    @media screen and ( max-width: 768px )
        padding: 2rem 1rem

.services-section__content
    display: flex
    justify-content: center

.services-section__content__img
    margin-right: 2rem

    img
        min-width: 50px
        min-height: 50px

.services-section__content__text
    color: #000000

    h4
        font-size: 1.375em
        font-weight: 600
        transition: color .3s ease-in

        &:hover
            color: $primary-color-2
            transition: color .3s ease-in

    p
        font-size: .9375em

    .read-more
        font-size: .7em
        padding-top: 1rem
        text-transform: uppercase

.what-we-do-section
    background: $primary-color-1
    background: -webkit-linear-gradient(to right, $primary-color-1, $primary-color-2)
    background: linear-gradient(to right, $primary-color-1, $primary-color-2)
    color: #ffffff
    clip-path: polygon(0 20%, 100% 0, 100% 79%, 33% 100%, 0 87%, 0 57%)
    padding-top: 9rem
    padding-bottom: 6rem

    @media screen and ( max-width: 768px )
        clip-path: polygon(1px 9.55%, 100% 50px, 100% 93.97%, 32.67% 100%, 0px 96.57%, 0px 57%)

    h2
        color: #ffffff

    p
        font-size: 1.125rem

        strong
            color: #ffffff

    .btn
        a
            color: inherit
            margin-top: 1rem
            margin-bottom: 1rem
            display: inline-block
            padding: 0.1rem
            border-bottom: 1px solid #cecece9e
            font-size: 0.9rem
            text-transform: uppercase

// Indepent section
.get-started-section
    h2
        color: #000
        font-size: 2.8125rem
        font-weight: 800
        margin-bottom: 2rem

    .phone
        font-size: 1.6em
        font-weight: 600

        a
            color: #000000

.get-started-section__subtitle
    margin-bottom: 2rem

.get-started-section__h4
    font-size: 1.375rem
    font-weight: 600
    margin-bottom: .5rem

.get-started-section__p
    margin-bottom: 2rem

.get-started-section__selection
    margin-bottom: 8px
    
.get-started-section__checkbox
    input[type="checkbox"] + label
        position: relative
        display: block
        background: #CCCCCC
        border-radius: 0px 15px 15px 0px
        padding: 0.3rem 0.5rem !important
        border: none
        transition: all 0.3s ease-in
        max-width: 410px
        font-size: 14px

    input[type="checkbox"]
        display: none

.our-clients-section
    figure.image
        img
            width: 150px
            height: 150px

.our-clients-section__shape
    background-color: #12C1FF
    margin-bottom: 3rem
    -webkit-clip-path: polygon(30% 26.7%, 100% 44px, 100% 100%, 100% 100%, 0px 87%, 0px 19%)
    clip-path: polygon(30% 26.7%, 100% 44px, 100% 100%, 100% 100%, 0px 87%, 0px 19%)
    padding-top: 12rem
    padding-bottom: 8rem

    @media screen and ( max-width: 690px )
        clip-path: polygon(36.50% 5.66%, 100% 12px, 100% 100%, 100% 100%, 0px 100%, 1px 3.86%)
        padding-top: 5rem
        padding-bottom: 4rem
        margin-bottom: 0

.our-clients-section__header
    text-align: center
    color: black

.insight-section
    .grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 2rem

        @media screen and ( max-width: 769px )
            display: block

        .newest
            grid-column: 1/4
            margin-bottom: 2rem
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 2rem
            color: #000000

            .right
                display: flex
                flex-flow: column
                align-items: flex-start

                .date
                    font-weight: 300
                    font-size: .8rem

                p
                    font-size: .8rem

                h3
                    margin-bottom: 2rem
                    transition: all 0.3s ease-out
                    font-size: 1.875rem
                    font-weight: 600

                    &:hover
                        color: $primary-color-1
                        transition: all .3s ease-in-out

                .excerpt
                    margin-bottom: 2rem
                    font-size: .9375rem
                    font-weight: 300

                .btn
                    display: inline-block
                    padding: 0.1rem
                    border-bottom: 1px solid #cecece9e
                    font-size: 0.6rem

            @media screen and ( max-width: 769px )
                display: block

        .recent
            color: #ffffff
            min-height: 200px
            color: white
            position: relative
            height: 100%

            &:hover
                transform: scale(1.05)
                transition: all .3s ease-in

            a
                display: block
                height: 100%

            .wrap
                position: absolute
                top: 50%
                transform: translate(-50%, -50%)
                left: 50%
                opacity: 0
                transition: all 0.3s ease-out
                width: 80%

                &:hover
                    opacity: 1
                    transition: all 0.3s ease-in

                h3, p
                    color: #ffffff

                h3
                    font-size: 1.3rem
                    font-weight: 600

    .btn-wrap
        text-align: center
        margin-top: 2rem

.insight-section__figure-custom
    position: relative

.insight-section__figure-custom__transparent
    position: absolute
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 30px
    background: rgba(0, 0, 0, .45)

    &__date, &__title
        opacity: 0

        @media screen and ( max-width: 1024px )
            opacity: 1
    
    &:hover
        background: rgba($primary-color-1, .77)
        transition: all .5s ease-in

        .insight-section__figure-custom__transparent__date, .insight-section__figure-custom__transparent__title
            opacity: 1
            transition: all .5s ease-in

.insight-section__figure-custom__transparent__title
    color: white
    font-size: 1.3rem
    font-weight: 600

.insight-section__figure-custom__transparent__date
    color: white
    font-weight: 300
    font-size: .9375rem

.insight-section__button--more
    padding: 0.5rem 1rem
    font-size: .5625rem
    background-color: $primary-color-2
    color: #ffffff
    border: 0
    transition: all 0.3s ease-out
    text-transform: uppercase
    letter-spacing: 1px

    &:hover
        background-color: #E6E6E6
        transition: all 0.3s ease-in

.contact-us-section
    .subtitle
        font-size: 2rem
        font-weight: 300
        max-width: 770px
        margin-bottom: 2rem

.contact-us-section__row
    margin-bottom: 2rem

.contact-us-section__question
    font-size: 1.375rem
    font-weight: 600

.contact-us-section__contact-header
    font-weight: bold
    font-size: 1.2rem

.contact-us-section__contact-text
    font-weight: 300
    font-size: 0.9375rem

.contact-us-section__form-group
    margin-bottom: 1rem
    position: relative

.contact-us-section__form-group--input
    padding-top: 25px

.contact-us-section__label
    display: none
    position: absolute
    color: #bebebe
    left: 0
    top: 17px
    transition: .3s ease

.contact-us-section__input
    box-sizing: border-box
    width: 100%
    display: block
    border: none
    background: transparent
    color: #000000
    border-bottom: 1px solid #999
    padding: 4px 0
    transition: .3s ease
    font-size: 1rem

    &::placeholder
        font-size: 1rem

    &:focus
        border-bottom: 1px solid #000000
        outline: none

    &:focus + .contact-us-section__label
        display: block
        top: 1px
        font-size: .875rem
        color: #000000

.contact-us-section__submit
    background: $primary-color-2
    color: #fff
    width: max-content
    padding: 15px 43px
    font-size: 1rem
    font-weight: bold
    border: none
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    -o-border-radius: 5px
    -ms-border-radius: 5px
    cursor: pointer

    &:hover
        background: darken($primary-color-2, 10%)
        transition: all .3s ease-in

.hover-color-1
    &:hover
        color: red
        
.overview-section
    height: 100vh
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover

    .transparent-overlay
        background: rgba(0, 0, 0, .3)
        width: 100%
        height: 100%

        h1
            color: #ffffff
            font-size: 3rem
            font-weight: 600
            text-transform: uppercase

            @media screen and ( max-width: 1023px )
                font-size: 2rem

        p
            color: inherit
            font-size: 1.5rem
            text-align: justify
            font-weight: 400
            line-height: 1.5

            @media screen and ( max-width: 1023px )
                font-size: 1rem

        .wrap
            max-width: 1420px
            margin: 0 auto
            height: 100%
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: flex-start
            padding-bottom: 9rem
            color: #ffffff

            @media screen and ( max-width: 1023px )
                padding-bottom: 2rem

            .action-btn
                border: 0
                cursor: pointer
                margin-top: 16px
                background: #ffffff
                color: #000000
                font-size: .8125rem
                font-weight: 600
                text-transform: uppercase
                padding: .5rem 1rem

                &:hover
                    background: darken(#ffffff, 10%)

.fanpage-overview-section
    background-image: url('/img/static/fanpage-overview.jpg')
    background-position: 60%

.why-section, .how-section, .guarantees-section, .recommended-categories-section
    padding: 5rem 0

    h2, h4
        text-align: center

    p
        //text-align: justify

.why-section__button
    display: flex
    justify-content: center

    &:hover
        color: darken(#3273dc, 10%)
        text-decoration: underline

.why-section__icon
    margin: 0 auto 1rem auto
    height: 120px
    width: 120px
    border-radius: 50%
    background: rgba(59, 89, 152, .6)
    padding: 25px

    &:hover
        background: rgb(59, 89, 152)

.how-section__description
    display: flex
    flex-direction: column
    justify-content: center

.how-section__reverse--mobile
    @media screen and ( max-width: 768px )
        display: flex
        flex-direction: column
        flex-flow: column-reverse

.guarantees-section
    background: #f6f6f6

.guarantees
    display: grid
    grid-template-columns: repeat(3, 1fr)

    @media screen and ( max-width: 768px )
        grid-template-columns: 1fr

.guarantee
    padding: 1rem
    border-bottom: 3px solid transparent

    &:hover
        box-shadow: 0 0 20px#d3d3d3
        border-bottom: 3px solid #3b5998

        h4, p
            color: #3b5998

.guarantee__icon
    margin: 0 auto 1rem auto
    height: 120px
    width: 120px

.testimonial-section
    padding: 5rem 0

    h2
        text-align: center

    h4
        color: #4267B2
        margin-bottom: .3rem

    h5
        color: gray
        
    p
        color: gray
        text-align: justify

    .owl-nav
        display: flex
        justify-content: center

    .owl-prev, .owl-next
        font-size: 2rem !important
        margin: 0 20px

#testimonial-carousel
    max-width: 1000px
    margin: 0 auto

.testimonial-carousel__item

.testimonial-carousel__item__image
    height: 250px
    width: 250px
    margin: 0 auto

.testimonial-carousel__item__quote
    font-size: .875rem
    padding: 0 0 40px 0
    letter-spacing: 1.5px

.testimonial-carousel__item__name
    font-size: 1.75rem
    font-weight: 600

.testimonial-carousel__item__position
    font-size: .875rem
    font-weight: 400
    color: grey

.recommended-categories-section
    padding: 4rem 0

    .title
        font-size: 1.875rem
        font-weight: 600
        text-align: center

    .categories
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 3rem

        @media screen and ( max-width: 768px )
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 1rem

        .category
            display: flex
            align-items: center
            justify-content: center
            background-repeat: no-repeat
            background-size: cover
            cursor: pointer

            &:hover
                opacity: .6
            
        .category__title
            padding: 4rem 0
            font-weight: 600
            text-transform: uppercase