.topbar
    display: flex
    justify-content: space-between
    transition: all .3s ease-in

    &:hover
        background: rgba(255, 255, 255, .1)
        transition: all .3s ease-in

.topbar__item
    cursor: pointer
    padding: 1rem 1.4rem
    transition: all .3s ease-in

    a
        color: #000000

    &:hover
        color: rgb(153,23,60)
        transition: all .3s ease-in

        a
            color: rgb(153,23,60)
            transition: all .3s ease-in

.topbar-left
    display: flex
    justify-content: flex-start

    @media screen and ( max-width: 1024px )
        padding-left: 1rem

.topbar-right
    display: flex
    justify-content: flex-end

    @media screen and ( max-width: 1024px )
        padding-right: 1rem
