﻿@model CoreBoost.Utilities.Dtos.PagedResult<CoreBoost.Application.ViewModels.Page.PageViewModel>

<section class="landing-section">
    <div class="landing-section__overlay">
        <div class="landing-section__overlay__wrapper">
            <p class="landing-section__subtitle">Trang</p>
            <h1 class="landing-section__title">Tất Cả</h1>
        </div>
    </div>
</section>

<section class="description-section">
    <svg class="description-section__graphic" x="0px" y="0px" viewBox="0 0 1000 63">
        <polygon points="324.3,61.3 0,20.9 0,21.3 0,75.2 1000,75.2 1000,9.4 999.6,9 "></polygon>
    </svg>

    <div class="description-section__middle">
        <div class="description-section__middle__wrap">
        </div>
    </div>

    <svg class="description-section__graphic" x="0px" y="0px" viewBox="0 0 1000 68">
        <polygon points="0,-0.8 0,25.3 0,24.9 324.3,65.4 999.6,13.1 1000,13.5 1000,-0.8 "></polygon>
    </svg>

    <svg class="description-section__triangle" x="0px" y="0px" viewBox="0 0 1000 60">
        <polygon points="0,60 590,0 0,0 "></polygon>
    </svg>
</section>

<section class="articles-section">
    <div class="general-container">
        @foreach (var pageX in @Model.Results) {
            <article class="article">
                <div class="columns">
                    <div class="column is-4">
                        <figure class="image">
                            <img src="@Url.Content("~/")@pageX.ImageUrl" alt="@pageX.Title">
                        </figure>
                    </div>
                    <div class="column">
                        <h3 class="article__title">
                            <a href="@Url.Content("~/article/")@pageX.Slug">@pageX.Title</a>
                        </h3>
                        <p class="article__excerpt">@pageX.Excerpt</p>
                        <a class="article__view-btn" href="@Url.Content("~/page/")@pageX.Slug">Xem Thêm</a>
                    </div>
                </div>
            </article>
        }
    </div>
</section>