@model CoreBoost.Application.ViewModels.Page.PageViewModel

@{
Layout = "PageLayout";
}

@* @if (@Model.ImageUrl != null) {
    <div class="image article__image" style="background-image: url('@Model.ImageUrl');"></div>
} *@

<div class="page-wrapper">
    <div class="columns">
        <div class="column">
            <h1 class="page-detail-main__title">@Model.Title</h1>
            
            <div class="page-detail-main__meta-wrapper">
                <time>@Model.DateCreated.ToString("dd-MM-yyyy")</time>
            </div>

            <article class="content page-detail-main__content">
                @Html.Raw(@Model.Content)
            </article>
        </div>
    </div>
</div>

@* <div class="general-container">
    @await Component.InvokeAsync("RecommendedArticles")
</div> *@

