@{
    Layout = "PageLayout";
}

<div class="page-wrapper">
    <div class="general-container">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="@Url.Content("~/")">CoreBoost</a></li>
            <li><a href="@Url.Content("~/page/all")">Trang</a></li>
            <li class="is-active" aria-current="page"><a href="#">NGUYÊN TẮC VỀ QUYỀN RIÊNG TƯ CỦA CoreBoost</a></li>
        </ul>
        </nav>
        <div class="content content--page">
            <h1>NGUYÊN TẮC VỀ QUYỀN RIÊNG TƯ CỦA CoreBoost</h1>
            <p>CoreBoost đặc biệt coi trọng quyền riêng tư của người dùng. Dưới đây là 5 nguyên tắc cho phương pháp tiếp cận người dùng của chúng tôi trong việc tôn trọng quyền riêng tư của người dùng:</p>
            <ol>
                <li><strong>Chúng tôi đánh giá cao niềm tin các bạn đã dành cho chúng tôi khi cung cấp thông tin cá nhân cho chúng tôi. Chúng tôi sẽ luôn sử dụng thông tin cá nhân của bạn một cách chân thực và xứng đáng với niềm tin đó.</strong></li>
                <li><strong>Bạn có quyền tìm hiểu thông tin về cách chúng tôi sử dụng thông tin cá nhân của bạn. Chúng tôi sẽ luôn thông báo rõ ràng với bạn về những thông tin chúng tôi thu thập, những việc chúng tôi làm với thông tin đó, đối tượng chúng tôi chia sẻ và ngườii bạn cần liên lạc trong trường hợp có bất kỳ mối quan ngại nào.</strong></li>
                <li><strong>Nếu bạn có bất kỳ mối quan ngại nào về cách thức chúng tôi sử dụng thông tin cá nhân của bạn, chúng tôi sẵn sàng hợp tác với bạn để nhanh chóng giải quyết những mối quan ngại đó.</strong></li>
                <li><strong>Chúng tôi sẽ thực hiện tất cả các bước hợp lý để bảo vệ thông tin của bạn không bị lạm dụng và bảo mật thông tin đó.</strong></li>
                <li><strong>Chúng tôi sẽ tuân thủ theo tất cả các luật và quy định bảo vệ dữ liệu áp dụng đồng thời sẽ hợp tác với các cơ quan bảo vệ dữ liệu. Nếu không có luật bảo vệ dữ liệu, chúng tôi sẽ hành động theo các nguyên tắc được công nhận rộng rãi về bảo vệ dữ liệu.</strong></li>
            </ol>
            <h2>CHÍNH SÁCH VỀ QUYỀN RIÊNG TƯ CỦA CoreBoost</h2>
            <p>CoreBoost đã thiết lập chính sách về quyền riêng tư như trình bày dưới đây và chúng tôi cam kết sẽ quản lý các trang web của chúng tôi nhằm đảm bảo bạn  và những khách hàng của chúng tôi được an toàn và hài lòng bằng việc cố gắng theo đuổi biện pháp phòng tránh hành vi sử dụng, tiết lộ, sửa đổi trái phép, v.v. thông tin các nhân do bạn  cung cấp. CoreBoost cam kết bảo vệ quyền riêng tư của bạn và đảm bảo bảo vệ thông tin cá nhân của bạn. Chính sách về quyền riêng tư này sẽ nêu rõ những thông tin mà chúng tôi thu nhập và cách thức chúng tôi sử dụng, và bảo vệ thông tin đó.</p>
            <h2>CHÚNG TÔI THU THẬP NHỮNG THÔNG TIN NÀO?</h2>
            <p>Trong chính sách về quyền riêng tư này, “thông tin cá nhân” của bạn có nghĩa là thông tin hay mẩu thông tin có thể giúp nhận diện ra bạn. Về cơ bản, điều này bao gồm những thông tin như họ tên, địa chỉ, tên đăng nhập, hình đại diện, địa chỉ email và số điện thoại, nhưng cũng có thể bao gồm các thông tin khác chẳng hạn như địa chỉ IP, thói quen mua sắm, sở thích và thông tin về phong cách sống hay sở thích của bạn  chẳng hạn như sở thích riêng và mối quan tâm. Chúng tôi có thể thu thập thông tin cá nhân của bạn từ nhiều nguồn khác nhau, bao gồm:</p>
            <ul>
                <li>
                    <span><strong>Thông tin bạn cung cấp trực tiếp cho chúng tôi</strong></span>
                    <p>Chúng tôi có thể trực tiếp thu thập thông tin về bạn  nếu bạn  cung cấp thông tin cá nhân cho chúng tôi, chẳng hạn như khi bạn  đăng ký tham gia nhận tin tức mới hay các khảo sát, đăng ký để nhận thông tin, sử dụng đơn xin tham gia, mua sản phẩm hay dịch vụ từ chúng tôi, điền vào bảng điều tra, hay đưa ra lời nhận xét hay yêu cầu. Những loại thông tin chúng tôi có thể thu thập trực tiếp từ bạn bao gồm:</p>
                    <ul>
                        <li><strong>Họ và tên</strong></li>
                        <li><strong>Địa chỉ</strong></li>
                        <li><strong>Địa chỉ email</strong></li>
                        <li><strong>Số điện thoại</strong></li>
                        <li><strong>Ngày sinh</strong></li>
                        <li><strong>Tuổi</strong></li>
                        <li><strong>Giới tính</strong></li>
                        <li><strong>Nội dung do người dùng khởi tạo, các bài đăng và các nội dung khác bạn gửi cho CoreBoost</strong></li>
                        <li><strong>Bất kỳ thông tin cá nhân nào khác mà bạn tự nguyện cung cấp cho chúng tôi</strong></li>
                    </ul>
                </li>
                <li>
                    <span><strong>Thông tin chúng tôi tự động thu thập khi bạn sử dụng các CoreBoost.</strong></span>
                    <p>Chúng tôi sử dụng cookies và các công cụ khác (chẳng hạn như công cụ phân tích web) để tự động thu thập thông tin về bạn  khi bạn  sử dụng, tùy theo các điều khoản của chính sách về quyền riêng tư này và các luật và quy định bảo vệ dữ liệu áp dụng. Những loại thông tin chúng tôi có thể thu thập tự động bao gồm:</p>
                    <ul>
                        <li><strong>Thông tin về trình duyệt bạn đang sử dụng</strong></li>
                        <li><strong>Chi tiết về các trang web mà bạn đã xem</strong></li>
                        <li><strong>Địa chỉ IP của bạn</strong></li>
                        <li><strong>Các siêu liên kết mà bạn đã nhấp vào</strong></li>
                        <li><strong>Tên người dùng, hình đại diện, giới tính, mạng của bạn và bất kỳ thông tin nào khác mà bạn chọn để chia sẻ khi dùng các trang web bên thứ 3 (chẳng hạn khi bạn dùng chức năng “Like” trên Facebook)</strong></li>
                        <li><strong>Các trang web bạn đã ghé thăm trước khi truy cập vào CoreBoost.</strong></li>
                    </ul>
                    <p>Hầu hết các bộ trình duyệt internet được thiết lập ban đầu đều chấp nhận cookies. Bạn có thể thay đổi thiết lập để chặn các cookies hoặc cảnh báo bạn khi các cookies được gửi tới thiết bị của bạn. Nếu bạn tắt cookies, điều này sẽ ảnh hưởng đến trải nghiệm của bạn trên trang của CoreBoost</p>
                </li>
            </ul>
            <ul>
                <li>
                    <span><strong>Thông tin chúng tôi thu thập từ các nguồn khác</strong></span>
                    <p>Chúng tôi có thể tiếp nhận thông tin cá nhân về bạn từ các nguồn khác nếu bạn cho phép chia sẻ thông tin đó. Điều này có thể bao gồm thông tin từ các nguồn thương mại hiện có, chẳng hạn như cơ sở dữ liệu công và các tổ chức tổng hợp dữ liệu và thông tin từ các bên thứ ba. Các loại thông tin cá nhân mà chúng tôi có thể thu thập từ những nguồn này bao gồm:</p>
                    <ul>
                        <li><strong>Tên</strong></li>
                        <li><strong>Địa chỉ</strong></li>
                        <li><strong>Tuổi</strong></li>
                        <li><strong>Các thông tin khả dụng công khai chẳng hạn như nội dung do người dùng khởi tạo, các blog và bài đăng tải, được luật pháp cho phép</strong></li>
                    </ul>
                </li>
            </ul>
            <h2>CHÚNG TÔI SỬ DỤNG THÔNG TIN CÁ NHÂN CỦA NGƯỜI DÙNG NHƯ THẾ NÀO?</h2>
            <p>Chúng tôi có thể sử dụng thông tin cá nhân của bạn:</p>
            <ul>
                <li>
                    <span><strong>Để cải tiến sản phẩm của chúng tôi và nâng cao trải nghiệm của bạn trên CoreBoost.</strong></span>
                    <p>Chúng tôi có thể sử dụng thông tin cá nhân của bạn để:</p>
                    <ul>
                        <li>Đánh giá việc sử dụng CoreBoost, các sản phẩm và dịch vụ.</li>
                        <li>Phân tích tính hiệu quả của các quảng cáo, cuộc thi và chương trình khuyến mãi của chúng tôi.</li>
                        <li>Cá nhân hóa trải nghiệm trang web của bạn, đồng thời đánh giá (ẩn danh và tổng thể) các số liệu thống kê về hoạt động của trang web, chẳng hạn như thời gian bạn ghé thăm, liệu bạn đã từng ghé thăm trang web này trước đó không và trang web nào giới thiệu bạn đăng nhập vào đó.</li>
                        <li>Giúp dễ dàng sử dụng các Trang Web CoreBoost và điều chỉnh hiệu quả các Trang Web CoreBoost cũng như các sản phẩm của chúng tôi theo sở thích và nhu cầu của bạn</li>
                        <li>Giúp thúc đẩy các hoạt động trong tương lai của bạn và trải nghiệm về các Trang Web CoreBoost. Ví dụ, một trang có thể nhận ra rằng bạn đã cung cấp thông tin cá nhân và sẽ không yêu cầu thông tin đó lần thứ hai nữa</li>
                        <li>Thu thập thông tin về thiết bị bạn đang sử dụng để xem Trang Web CoreBoost, chẳng hạn như địa chỉ IP của bạn  hay loại bộ trình duyệt Internet hay hệ điều hành bạn đang sử dụng, và liên kết chúng tới thông tin cá nhân của bạn nhằm đảm bảo rằng mỗi Trang Web CoreBoost thể hiện trải nghiệm web tốt nhất cho bạn</li>
                    </ul>
                </li>
                <li>
                    <span><strong>Để liên lạc với bạn về sản phẩm và dịch vụ mà bạn  có thể quan tâm, với điều kiện bạn đồng ý cho chúng tôi làm như vậy hay trước đó bạn đã yêu cầu sản phẩm hay dịch vụ từ chúng tôi và thông tin liên lạc liên quan đến yêu cầu trước đó và được lập trong bất kỳ khung thời gian nào được luật pháp áp dụng quy định.</strong></span>
                    <p>Chúng tôi có thể sử dụng thông tin cá nhân của bạn để:</p>
                    <ul>
                        <li><strong>Giới thiệu các sản phẩm hay dịch vụ (bao gồm những sản phẩm của các bên thứ ba liên quan) mà chúng tôi cho rằng bạn quan tâm.</strong></li>
                        <li><strong>Trao cho bạn cơ hội tham gia vào các cuộc thi hay chương trình khuyến mãi</strong></li>
                    </ul>
                    <p>Bạn có thể quyết định không tiếp nhận thông tin từ chúng tôi vào bất kỳ thời điểm nào. Bất kỳ thông tin tiếp thị trực tiếp nào mà chúng tôi gửi cho bạn sẽ cung cấp cho bạn thông tin và phương tiện cần thiết để từ chối.</p>
                </li>
                <li>
                    <span><strong>Để cung cấp cho bạn các sản phẩm hay dịch vụ bạn yêu cầu từ chúng tôi.</strong></span>
                    <p>Chúng tôi có thể sử dụng thông tin cá nhân của bạn:</p>
                    <ul>
                        <li><strong>Để phục vụ mục đích của các cuộc thi hay chương trình khuyến mãi mà bạn đã tham gia</strong></li>
                        <li><strong>Để gửi cho bạn thông tin, sản phẩm hay mẫu mà bạn yêu cầu</strong></li>
                        <li><strong>Để đáp ứng các yêu cầu hay nhận xét của bạn</strong></li>
                    </ul>
                    <p>Nếu chúng tôi thu thập thông tin cá nhân cho một mục đích cụ thể, chúng tôi sẽ không giữ thông tin đó lâu hơn khoảng thời gian cần thiết của mục đích đó, trừ khi chúng tôi phải giữ thông tin vì các lý do kinh doanh hay pháp lý chính đáng. Để bảo vệ thông tin không bị phá hoại một cách vô tình hay cố ý, khi chúng tôi xóa thông tin khỏi dịch vụ của mình, chúng tôi có thể không xóa ngay các bản sao còn lại từ máy chủ hay xóa bỏ thông tin từ hệ thống sao lưu của chúng tôi.</p>
                </li>
            </ul>
            <h2>CHÚNG TÔI CHIA SẺ THÔNG TIN CÁ NHÂN CỦA BẠN VỚI AI?</h2>
            <p>Về nguyên tắc chung, chúng tôi không chia sẻ thông tin cá nhân của bạn với bất kỳ ai ngoài CoreBoost. Tuy nhiên, chúng tôi có thể chia sẻ thông tin cá nhân của bạn với các bên thứ ba đáng tin cậy. </p>
            <p>Chúng tôi có thể chia sẻ thông tin cá nhân của bạn với:</p>
            <ul>
                <li><strong>Các cơ quan quảng cáo, tiếp thị và khuyến mãi để giúp chúng tôi thực hiện và phân tích tính hiệu quả của các chiến lược quảng cáo và khuyến mãi.</strong></li>
                <li><strong>Các bên thứ ba được yêu cầu giao sản phẩm hay dịch vụ cho bạn, chẳng hạn như giao hàng hay dịch vụ bưu chính chuyển phát sản phẩm mà bạn đã đặt hàng</strong></li>
                <li><strong>Cơ quan cưỡng chế luật pháp hay cơ quan chính phủ tuân thủ quy trình pháp luật thích hợp yêu cầu chúng tôi tiết lộ thông tin</strong></li>
                <li><strong>Các bên thứ ba muốn gửi cho bạn thông tin về các sản phẩm và dịch vụ của họ, nhưng chỉ khi bạn đã đồng ý cho chúng tôi làm như vậy</strong></li>
                <li><strong>Các nhà cung cấp dịch vụ bên thứ ba về xử lý dữ liệu, chẳng hạn như Facebook</strong></li>
                <li><strong>Các nhà cung cấp công cụ phân tích web, chẳng hạn như Google</strong></li>
            </ul>
            <p>Chúng tôi cũng có thể chia sẻ thông tin cá nhân của bạn với các công ty, tổ chức hay cá nhân bên ngoài CoreBoost nếu chúng tôi nghĩ rằng việc tiết lộ thông tin này là cần thiết vì các lý do hợp pháp.</p>
            <p>Chúng tôi có thể chia sẻ thông tin cá nhân của bạn để:</p>
            <ul>
                <li><strong>Thi hành các điều khoản sử dụng áp dụng của các trang web CoreBoost</strong></li>
                <li><strong>Tiến hành điều tra các vi phạm pháp luật áp dụng có thể có</strong></li>
                <li><strong>Phát hiện, ngăn chặn và bảo vệ chống làm giả và các khả năng dễ bị thương tổn về an ninh hay kỹ thuật</strong></li>
                <li><strong>Tuân thủ pháp luật và quy định áp dụng, hợp tác trong bất kỳ vụ điều tra pháp lý nào và đáp ứng các yêu cầu của chính quyền</strong></li>
            </ul>
            <p>Nếu chúng tôi chia sẻ thông tin cá nhân của bạn với một bên thứ ba, chúng tôi sẽ nỗ lực hết sức để đảm bảo rằng họ sẽ bảo mật thông tin của bạn, thực hiện mọi biện pháp thích hợp để bảo vệ chống lạm dụng thông tin và chỉ sử dụng thông tin theo cách thống nhất với chính sách về quyền riêng tư này và luật pháp và quy định bảo vệ dữ liệu áp dụng.</p>
            <p>CoreBoost không bán thông tin cá nhân, trừ đơn vị mà chúng tôi rút lui tất cả hay một phần hoạt động kinh doanh của mình (ví dụ, liên quan tới việc bán thương hiệu của chúng tôi), hay liên quan đến việc sáp nhập, hợp nhất, thay đổi quyền kiểm soát, tái cơ cấu hay thanh lý tất cả hay một phần hoạt động kinh doanh của chúng tôi.</p>
            <h2>CHUYỂN GIAO THÔNG TIN CÁ NHÂN CỦA NGƯỜI DÙNG</h2>
            <p>Chúng tôi có thể chuyển thông tin cá nhân của bạn tới các máy chủ đặt bên ngoài quốc gia mà bạn đang sinh sống hoặc tới các công ty liên kết hay các bên thứ ba đáng tin cậy khác nằm ở các nước khác sao cho họ có thể xử lý thông tin cá nhân thay mặt cho chúng tôi. Bằng cách sử dụng trang web CoreBoost hay nói cách khác cung cấp thông tin cá nhân cho CoreBoost, bạn đã đồng ý cho chúng tôi làm như vậy theo các điều khoản của chính sách về quyền riêng tư cũng như pháp luật và quy định về bảo vệ dữ liệu áp dụng.</p>
            <p>Bạn phải nhận thức được rằng nhiều quốc gia không thể bảo vệ pháp lý thông tin cá nhân giống như bạn có thể nhận được tại đất nước quê hương của mình. Trong khi thông tin cá nhân của bạn nằm ở một nước khác, tòa án, các cơ quan cưỡng chế thi hành luật và các cơ quan an ninh quốc gia tại nước đó có thể truy cập vào thông tin này theo luật pháp của họ. Theo yêu cầu truy cập hợp pháp này, chúng tôi cam kết rằng bất kỳ ai xử lý thông tin cá nhân của bạn bên ngoài đất nước quê hương bạn đều phải áp dụng các biện pháp bảo vệ thông tin và chỉ được phép xử lý thông tin theo hướng dẫn của CoreBoost.</p>
            <h2>BẢO VỆ THÔNG TIN CÁ NHÂN CỦA NGƯỜI DÙNG</h2>
            <p>Chúng tôi thực hiện mọi biện pháp phòng ngừa thích hợp để bảo mật thông tin cá nhân của bạn đồng thời yêu cầu các bên thứ ba xử lý thông tin cá nhân cho chúng tôi cũng phải làm tương tự như vậy. Việc truy cập vào thông tin cá nhân của bạn bị giới hạn nhằm ngăn chặn truy cập bất hợp pháp, thay đổi hay sử dụng sai mục đích và chỉ có nhân viên và đại lý của chúng tôi mới được phép truy cập trên cơ sở cần phải biết.</p>
            <h2>SỰ ĐỒNG Ý CỦA NGƯỜI DÙNG</h2>
            <p>CoreBoost sẽ không thu thập, sử dụng hay tiết lộ thông tin cá nhân của bạn mà không được sự đồng ý của bạn. Trong hầu hết trường hợp, chúng tôi sẽ xin phép bạn một cách rõ ràng nhưng, trong một số trường hợp, chúng tôi có thể suy luận về sự đồng ý từ những hành động và hành vi của bạn. Bằng cách sử dụng trang web CoreBoost, bạn đồng ý cho phép CoreBoost thu thập, sử dụng và tiết lộ thông tin cá nhân của bạn theo chính sách về quyền riêng tư này.</p>
            <p>Chúng tôi có thể yêu cầu bạn cung cấp sự đồng thuận bổ sung nếu cần sử dụng thông tin cá nhân của bạn cho các mục đích không được trình bày trong Chính Sách về Quyền Riêng Tư này. Bạn không bắt buộc phải đồng ý, tuy nhiên nếu bạn quyết định không đồng ý thì khi đó bạn có thể bị hạn chế tham gia vào một số hoạt động. Nếu bạn đồng ý bổ sung, các điều khoản của sự đồng ý đó sẽ được áp dụng trong trường hợp có bất kỳ xung đột nào với các điều khoản của chính sách về quyền riêng tư này. Nếu bạn không đồng ý với việc thu thập, sử dụng và tiết lộ thông tin cá nhân của bạn theo cách này, vui lòng không sử dụng trang web CoreBoost hoặc bạn phải cung cấp thông tin cá nhân cho CoreBoost.</p>
            <h2>QUYỀN RIÊNG TƯ CỦA BẠN VÀ NGƯỜI LIÊN HỆ</h2>
            <p>Nếu bạn có bất kỳ thắc mắc, nhận xét hay mối quan ngại nào về cách chúng tôi xử lý thông tin cá nhân của bạn, thì bạn có thể liên hệ với chúng tôi bằng cách nhấp vào liên kết liên hệ với chúng tôi trên trang web CoreBoost hướng dẫn bạn tới chính sách về quyền riêng tư này. </p>
            <p>Bạn có quyền thông báo cho chúng tôi nếu bạn:</p>
            <ul>
                <li><strong>Không muốn chúng tôi liên hệ trong tương lai</strong></li>
                <li><strong>Muốn nhận một bản sao thông tin cá nhân mà chúng tôi giữ về bạn</strong></li>
                <li><strong>Muốn chúng tôi chỉnh sửa, cập nhật, hay xóa bỏ thông tin cá nhân của bạn trong hồ sơ của chúng tôi</strong></li>
                <li><strong>Muốn báo cáo về bất kỳ trường hợp nào lạm dụng thông tin cá nhân của bạn</strong></li>
            </ul>
            <p>Để hỗ trợ chúng tôi giải quyết thắc mắc của bạn, vui lòng cung cấp họ tên và thông tin chi tiết của bạn.</p>
            <h2>THAY ĐỔI CHÍNH SÁCH VỀ QUYỀN RIÊNG TƯ CỦA CHÚNG TÔI</h2>
            <p>Chúng tôi có thể thay đổi Chính Sách về quyền riêng tư này tùy từng thời điểm bằng cách đăng tải phiên bản mới nhất của chính sách về quyền riêng tư trên trang CoreBoost. Chúng tôi sẽ gửi thông báo thích hợp tới bạn về bất kỳ thay đổi lớn nào. Chúng tôi khuyến khích bạn thường xuyên ghé thăm để nắm rõ cách thức chúng tôi sử dụng thông tin cá nhân của bạn.</p>
            <h2>CÁC CHÍNH SÁCH KHÁC VỀ QUYỀN RIÊNG TƯ CỦA CoreBoost</h2>
            <p>Ngoài chính sách về quyền riêng tư này, có thể có những chiến dịch hay quảng cáo cụ thể được chi phối bởi các điều khoản hay chính sách về quyền riêng tư bổ sung. Bạn nên đọc những điều khoản hay chính sách bổ sung này trước khi tham gia vào bất kỳ chiến dịch hay quảng cáo nào như vậy vì bạn sẽ phải tuân thủ chúng nếu tham gia. Các điều khoản hay chính sách về quyền riêng tư bổ sung sẽ được gửi rõ ràng tới bạn.</p>
        </div>
    </div>
</div>