.text-align-left
    text-align: left
    
.text-align-center
    text-align: center

.logo-60px
    img
        height: 60px
        width: auto

.is-cursor-pointer
    cursor: pointer

.margin-bottom-8
    margin-bottom: 8px

.align-items-center
    align-items: center

.margin-0
    margin: 0 !important