.text-align-left
    text-align: left
    
.text-align-center
    text-align: center

.logo-60px
    img
        height: 60px
        width: auto

.is-cursor-pointer
    cursor: pointer

.margin-bottom-8
    margin-bottom: 8px

.align-items-center
    align-items: center

.margin-0
    margin: 0 !important

.is-flex-center-center
    display: flex
    justify-content: center
    align-items: center

.is-flex-start-center
    display: flex
    justify-content: flex-start
    align-items: center

.is-flex-center-start
    display: flex
    justify-content: center
    align-items: flex-start

.is-flex-column
    flex-direction: column