body
    font-family: 'SanFranciscoText'

.general-h2
    color: #000
    font-size: 2.8125rem
    font-weight: 800
    margin-bottom: 2rem

.general-h3
    font-size: 1.9rem
    font-weight: 600
    margin-bottom: 1.5rem

.general-h4
    font-size: 1.375rem
    font-weight: 600
    margin-bottom: 1rem

.general-h5
    font-size: 1rem
    font-weight: 600
    margin-bottom: .8rem