@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("HelveticaNowDisplay-Thin.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("HelveticaNowDisplay-ThinIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("HelveticaNowDisplay-Light.otf") format("opentype"),
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("HelveticaNowDisplay-LightIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtLt.otf") format("opentype")
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtLtIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("HelveticaNowDisplay-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("HelveticaNowDisplay-MedIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("HelveticaNowDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("HelveticaNowDisplay-BoldIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtBdIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("HelveticaNowDisplay-Black.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("HelveticaNowDisplay-BlackIta.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtBlk.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("HelveticaNowDisplay-ExtBlkIta.otf") format("opentype");
}