@model CoreBoost.Application.ViewModels.Article.ArticleViewModel

@{
Layout = "ArticleDetailLayout";
}

@if (@Model.ImageUrl != null) {
    <div class="image article__image" style="background-image: url('@Model.ImageUrl');"></div>
}

<div class="article-wrapper">
    <div class="columns">
        <div class="column">
            <h1 class="article-detail-main__title">@Model.Title</h1>
            <div class="article-detail-main__meta-wrapper">
                <time>@Model.DateCreated.ToString("dd-MM-yyyy")</time>
                @if (@Model.ArticleCategory != null) {
                    @Model.ArticleCategory.Name
                }
            </div>

            <article class="content article-detail-main__content">
                @Html.Raw(@Model.Content)
            </article>

            <div class="">
                <p>Từ khoá: @Model.Keywords</p>
            </div>
        </div>
    </div>
</div>

<div class="general-container">
    @await Component.InvokeAsync("RecommendedArticles")
</div>

