@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("SanFranciscoText-Thin.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("SanFranciscoText-ThinItalic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("SanFranciscoText-Light.otf") format("opentype"),
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("SanFranciscoText-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("SanFranciscoText-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("SanFranciscoText-Italic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("SanFranciscoText-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("SanFranciscoText-MediumItalic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("SanFranciscoText-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("SanFranciscoText-SemiboldItalic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("SanFranciscoText-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("SanFranciscoText-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("SanFranciscoText-Heavy.otf") format("opentype");
}

@font-face {
    font-family: 'SanFranciscoText';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("SanFranciscoText-HeavyItalic.otf") format("opentype");
}
}