@model List<CoreBoost.Application.ViewModels.Article.ArticleViewModel>

<section class="recommended-articles-section">
    <h2 class="general-h2">Liên quan</h2>
    <div class="recommended-articles-section__grid">
        @foreach (var article in @Model)
        {
            <article>
                <a href="">
                    <figure class="image"><img src="https://via.placeholder.com/300x200" alt="@article.Title"></figure>
                    <h4 class="general-h4">@article.Title</h4>
                </a>
            </article>
        }
    </div>
</section>
