<template>
  <div>
    <Example></Example>
  </div>
</template>

<script>
  import Example from './components/Example/Example.vue'
  export default {
    data() {

    },
    components: {
      Example
    }
  }

</script>