@using CoreBoost.Application.ViewModels.Article
@model CoreBoost.Utilities.Dtos.PagedResult<ArticleCategoryViewModel>

@{
ViewData["Title"] = "Danh Mục Bài Viết";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/noty/noty.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

@section Scripts {
    <script src="~/lib/noty/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
    <script src="~/js/admin/article_category/browse.js"></script>
    <script>
        let articleCategoryBrowse = new ArticleCategoryBrowse()
    </script>

    <script>
        var tablePagination = $('#table-pagination')
        tablePagination.pagination({
            dataSource: "/admin/articlecategory/getall".toString(),
            locator: "",
            totalNumber: @Model.RowCount,
            pageNumber: @Model.CurrentPage,
            pageSize: @Model.PageSize,
            className: "paginationjs-custom",
            afterPreviousOnClick: (e, p) => {
                articleCategoryBrowse.goToPage(p)
            },
            afterNextOnClick: (e, p) => {
                articleCategoryBrowse.goToPage(p)
            },
            afterPageOnClick: (e, p) => {
                articleCategoryBrowse.goToPage(p)
            }
        })
    </script>
}

<div>
    <a class="admin__button admin__button--create-new" href="@Url.Content("~/admin/articlecategory/add")">
        <span class="icon"><i class="fas fa-plus"></i></span><span>Danh Mục</span>
    </a>
</div>
<ul class="status-filter-list">
    <li>
        <a id="status-all" href="@Url.Content("~/admin/articlecategory/browse")">Tất cả (<span id="status-all-count">@ViewBag.AllCount</span>)</span>
    </li>
    <li>
        <a id="status-active" href="@Url.Content("~/admin/articlecategory/browse?status=1")">Đang kích hoạt (<span id="status-active-count">@ViewBag.ActiveCount</span>)</span>
    </li>
    <li>
        <a id="status-inactive" href="@Url.Content("~/admin/articlecategory/browse?status=0")">Bị ẩn (<span id="status-inactive-count">@ViewBag.InActiveCount</span>)</span>
    </li>
</ul>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="field">
                <div class="control">
                    <div class="select admin-select-custom">
                        <select id="bulkAction">
                            <option value="none">Hành Động</option>
                            <option value="delete">Xóa Hàng Loạt</option>
                        </select>
                    </div>
                    <button class="button admin-button-custom" id="applySelected">Áp Dụng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="level-right">
        <div class="level-item">
            <div class="field has-addons is-pulled-right">
                <div class="control is-expanded">
                    <input id="keyword" class="input is-fullwidth" type="text" placeholder="Tên danh mục">
                </div>
                <div class="control">
                    <a id="searchButton" class="button is-info">Tìm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-size-select-wrapper">
    <div class="field is-grouped">
        <p class="control">
            <div class="select is-rounded">
                <select id="pageSizeSelect">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </p>

        <p class="control">
            <span>bản ghi mỗi trang</span>
        </p>
    </div>
</div>

@if (@Model.Results.Count > 0) {
    <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <colgroup>
                <col span="1" style="width: 50px;">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
                <th>
                    <div class="field">
                        <div class="control">
                            <input class="checkbox" id="selectAllCheck" type="checkbox" />
                        </div>
                    </div>
                </th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Trạng Thái</th>
                <th>Công Cụ</th>
            </thead>
            <tbody id="table-content">
                @foreach (var articleCategory in @Model.Results) {
                    <tr>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input class="checkbox admin__table__checkbox" type="checkbox"
                                        value="@articleCategory.Id">
                                </div>
                            </div>
                        </td>
                        <td>@articleCategory.Name</td>
                        <td>@articleCategory.Description</td>
                        <td>
                            @if ((int) articleCategory.Status == 0) {
                                <span class="tag is-danger">Bị ẩn</span>
                            }
                            else {
                                <span class="tag is-success">Đang kích hoạt</span>
                            }
                        </td>
                        <td>
                            <div class="field is-grouped">
                                <p class="control">
                                    <a href="@Url.Content("")"
                                        class="button is-info is-small" data-id="@articleCategory.Id"><i
                                            class="far fa-eye"></i></a>
                                </p>
                                <p class="control">
                                    <a href="@(Url.Content("~/admin/articlecategory/edit/") + articleCategory.Id)"
                                        class="button is-warning is-small" data-id="@articleCategory.Id"><i
                                            class="fas fa-pen"></i></a>
                                </p>
                                <p class="control">
                                    <a class="button delete-button is-danger is-small" data-id="@articleCategory.Id"><i
                                            class="fas fa-trash"></i></a>
                                </p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else {
    <div class="notification is-danger">
    Không có dữ liệu nào khớp với yêu cầu tìm kiếm, vui lòng <a href="@Url.Content("~/admin/articlecategory/browse")">thử lại</a>.
    </div>
}

<div id="table-pagination"></div>