@model CoreBoost.Application.ViewModels.Article.ArticleCategoryViewModel
@using CoreBoost.Data.Enums

<form method="post" action="/admin/articlecategory/edit" class="admin__form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id">

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Name" class="admin-form-group__label"></label>
        <input asp-for="Name" type="text" class="admin-form-group__input" placeholder="Nhập tên">
    </div>

    <div class="admin-form-group admin-form-group--input">
        <label asp-for="Description" class="admin-form-group__label"></label>
        <input asp-for="Description" type="text" class="admin-form-group__input" placeholder="Nhập mô tả (dưới 300 kí tự)">
    </div>

    <div class="control">
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Disabled) Không Kích Hoạt
        </label>
        <label class="radio admin__form__radio">
            @Html.RadioButtonFor(model => model.Status, Status.Active) Kích Hoạt
        </label>
    </div>
    <br>
    
    <input class="admin__form__button admin__form__button--save" type="submit" value="Lưu" />
    <a href="@Url.Content("~/admin/articlecategory/browse")" class="admin__form__button admin__form__button--cancel">Hủy</a>
</form>