﻿@model CoreBoost.Models.AccountViewModels.LoginViewModel

@{
Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Made with <3 by 4fingers">
    <meta name="author" content="4fingers">
    <title>Đăng nhập - CoreBoost</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/admin-login.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="login-wrapper">
        <div class="columns is-gapless">
            <div class="column is-7 is-flex is-hidden-touch">
                <div class="login-left">
                    <figure class="image">
                        <img src="~/img/static/login/ricardo.jpg" alt="">
                    </figure>
                    <h3 class="login__h3">We hype as fuckkk</h3>
                    <p class="login__p">That's how we are, right?</p>
                </div>
            </div>

            <div class="column is-flex">
                <div class="login-right">
                    <figure class="image logo">
                        <img src="~/icon/logo-v3.svg" alt="CoreBoost">
                    </figure>

                    <h4 class="login__h4">Chào mừng tới CoreBoost</h4>

                    <form method="post">
                        @Html.AntiForgeryToken()
                        <span asp-validation-summary="ModelOnly" class="has-text-info"></span>

                        <label asp-for="Email" class="login__label"></label>
                        <input asp-for="Email" class="login__input" autofocus>
                        <span asp-validation-for="Email" class="has-text-danger login__validator"></span>

                        <label asp-for="Password" class="login__label"></label>
                        <input asp-for="Password" class="login__input">
                        <span asp-validation-for="Password" class="has-text-danger login__validator"></span>

                        <input type="checkbox" asp-for="RememberMe">
                        <span class="login__checkbox-text">Ghi nhớ</span>

                        <input type="submit" class="login__submit" value="Đăng Nhập">
                    </form>

                    <a href="~/" class="login__to-home">Về trang chủ</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>